* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f4d7c6; /* light background color */
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #3f3b96;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

/* Card styling */
.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
}

/* Text styling */
p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.5;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    color: #fff;
}

b {
    color: orange;
}

/* QR button styling */
.qr-button {
    width: 150px;
    height: 150px;
    background-color: #4b79a7;
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 0 auto;
    cursor: pointer;
}


/* Start button styling */
.start-button {
    width: 300px;
    height: 100px;
    background-color: #4b79a7;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    margin: 0 auto;
    cursor: pointer;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .card {
        width: 90%;
        padding: 30px;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .qr-button {
        width: 120px;
        height: 120px;
        font-size: 2.5rem;
    }
    
    .start-button {
        width: 250px;
        height: 80px;
        font-size: 2.5rem;
    }
}