{% extends "layout.html" %}

{% block title %}LanguaMate - Create List{% endblock %}

{% block content %}
<div class="container">
    <form id="listForm" method="POST" action="{{ url_for('list_create') }}" novalidate>
        <h3>Create Word List</h3>
        <div class="input-group">
            <label for="listName" class="input-label"></label>
            <input type="text" name="listName" placeholder="Enter List Name Here" id="listName" class="input-text" required>
            <div class="error-message" id="listNameError"></div>
        </div>
        <div class="input-group">
            <label for="wordCount" id="inputLabel" class="input-label">Number of words:</label>
            <input type="number" name="wordCount" value="1" min="1" id="wordCount" class="input-number" required>
            <div class="error-message" id="wordCountError"></div>
        </div>
        <button class="btn submit-btn" type="submit">Create</button>
    </form>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/listcreate.js') }}"></script>
{% endblock %}