<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Brainboost AI</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/css/css-main.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    </head>
    <header class="global-header" id="top-nav">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/Brainboost Logo.jpg') }}" alt="Website Logo">
        </div>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('lists') }}">My Lists</a>
            <button id="login-btn" class="login-btn btn">Login</button>
        </nav>
        <!-- Hamburger icon -->
        <div class="hamburger-menu" id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>
    <body>
      <main class="start-page">
          <div class="container def">
            <!-- Header with List Name -->
            <h2 id="listName">List Name Here</h2>
                {% for word in word_list %}
              <div class="definition-box">
                <div class="word-header">
                  <h3>{{ word['word'] }}</h3>
                  <div class="buttons">
                    <button class="btn regenerate">Regenerate</button>
                    <button class="btn edit">Edit</button>
                  </div>
                </div>
                <fieldset class="def-box" role="presentation">
                  <legend>Definition</legend>
                  <p class="definition">{{ word['definition'] }}</p>
                </fieldset>
                <fieldset class="example-box" role="presentation">
                  <legend>Example Sentence</legend>
                  <p class="example">{{ word['example_sentence'] }}</p>
                </fieldset>
              </div>
              {% endfor %}
              <!-- Save and Cancel Buttons -->
              <div class="actions">
                <button class="btn save">Save</button>
                <button class="btn cancel">
                  <a id="cancel" href="{{ url_for('add_words') }}">Cancel</a>
                </button>
              </div>
          </div>
          <!-- Login Modal -->
          <div id="loginModal" class="modal">
            <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Login</h2>
            <form id="loginForm" method="post">
                <label for="username">Username:</label>
                <input type="text" placeholder="name@email.com" id="username" name="username" required><br>
                <label for="password">Password:</label>
                <input type="password" placeholder="password" id="password" name="password" required><br>
                <button class="btn" type="submit">Submit</button>
            </form>
            </div>
        </div>
      </main>
      <footer>
          &copy; 2024 Brainbooost AI all rights reserved
      </footer>
      <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
      <script src="{{ url_for('static', filename='js/worddefinition.js') }}" defer></script>
    </body>
</html>