<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Brainboost AI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/css-main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
</head>
<header class="global-header" id="top-nav">
    <div class="logo">
        <img src="{{ url_for('static', filename='img/Brainboost Logo.jpg') }}" alt="Website Logo">x
    </div>
    <nav>
        <a href="{{ url_for('index') }}">Start</a>
        <a href="{{ url_for('lists') }}">My Lists</a>
        <button class="login-btn">Login</button>
    </nav>
    <!-- Hamburger icon -->
    <div class="hamburger-menu" id="hamburger-menu">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>
<body>
    <main class="start-page">
        <div class="container def">
            <!-- Header with List Name -->
            <h2 id="listName">List Name Here</h2>
            <!-- Dynamic Word Boxes will be injected here -->
            <div id="word-list"></div>

            <!-- Save and Cancel Buttons -->
            <div class="actions">
                <button class="btn save">Save</button>
                <button class="btn cancel">Cancel</button>
            </div>
        </div>
    </main>
    <footer>
        &copy; 2024 Brainboost AI all rights reserved
    </footer>
    <script src="static/js/worddefinition.js"></script>
</body>
</html>