<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Brainboost AI - Add Words</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/css/css-main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
</head>
<body>
    <header class="global-header" id="top-nav">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/Brainboost Logo.jpg') }}" alt="Website Logo">
        </div>
        <nav>
            <a href="{{ url_for('index') }}">Start</a>
            <a href="{{ url_for('lists') }}">My Lists</a>
            <button class="login-btn btn">Login</button>
        </nav>
        <!-- Hamburger icon -->
        <div class="hamburger-menu" id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <main>
        <div class="list">
            <!-- Header with List Name -->
            <h2 id="listName">List Name Here</h2>
            
            <!-- Form for Adding Words -->
            <form action="/data" method="POST" id="word-form">
                <div id="word-input-group">
                    <!-- Dynamically generated word input fields will appear here -->
                </div>

                <!-- Button to add more words dynamically -->
                <button type="button" id="add-word-btn" class="btn add-word">+ Add Word</button>
                
                <!-- Submit button to generate definition -->
                <div class="action">
                    <button type="submit" class="btn gen-def">Generate Definition</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        &copy; 2024 Brainboost AI all rights reserved
    </footer>
    <script src="static/js/addwords.js"></script>
</body>
</html>
