{% extends "layout.html" %}

{% block title %}LanguaMate AI - Home{% endblock %}

{% block content %}
<div class="start-page">
    <div class="image-container">
        <div class="text-window">
            <h1 class="start-heading">Generate your first word list now!</h1>
            <p>Add your words, get AI-generated definitions and example sentences in seconds.</p>
            <button class="gen-btn btn" onclick="window.location.href='{{ url_for('list_create') }}'">
                Generate Now
            </button>
        </div>
    </div>
</div>
{% endblock %}