<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Brainboost AI{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/css-main.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="global-header" id="top-nav">
        <div class="logo">
            <img src="{{ url_for('static', filename='img/Brainboost Logo.jpg') }}" alt="Website Logo">
        </div>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('lists') }}">My Lists</a>
            <button id="login-btn" class="login-btn btn">Login</button>
        </nav>
        <!-- Hamburger icon -->
        <div class="hamburger-menu" id="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Login Modal -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Login</h2>
            <form id="loginForm" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" placeholder="name@email.com" id="username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" placeholder="password" id="password" name="password" required>
                </div>
                <button class="submit-btn btn" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <footer>
        &copy; 2024 Brainboost AI all rights reserved
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>