<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Words Up</title>
    <link rel="stylesheet" href="css/game.css">
</head>
<body class="qr">
        <div class="card">
            <h1>Words Up</h1>
            <p>Each group scans the QR code and gets a deck of cards to share.<br>
               Guess a word right, and it's gone! No more repeating the same word.
            </p>
            <div class="qr-button">
                <span>QR</span>
            </div>
        </div>
</body>
</html>