{% extends "wordsup/game_layout.html" %}

{% block title %}Words Up - Game{% endblock %}

{% block extra_meta %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
{% endblock %}

{% block content %}
<body>
    <div id="rotate-notice">
        <p>Turn me sideways to play</p>
        <img src="static/img/phone-rotate-landscape.png" class="rotate-icon" alt="Rotate phone icon">
    </div>
    <!-- Sound elements -->
    <audio id="sound1" preload="auto" src="{{ url_for('static', filename='sounds/correct.mp3') }}"></audio>
    <audio id="sound2" preload="auto" src="{{ url_for('static', filename='sounds/pass.mp3') }}"></audio>
    <audio id="sound3" preload="auto" src="{{ url_for('static', filename='sounds/timer.mp3') }}"></audio>
    <audio id="sound4" preload="auto" src="{{ url_for('static', filename='sounds/finished.mp3') }}"></audio>
    <!-- Game Page -->
    <div class="container">
        <div class="button right" onclick="nextWord('pass')">Pass</div>
        <div class="word">
            <div id="wordText"></div>
            <div class="timer" id="timer">1:00</div>
        </div>
        <div class="button left" onclick="nextWord('correct')">Correct</div>
    </div>
    <!-- End Page -->
    <div class="end-page" id="endPage">
        <div class="end-score" id="finalScore">Score: 0</div>
        <ul id="correctWords"></ul> <!-- List for correct words -->
        <ul id="passedWords"></ul> <!-- List for passed words -->
    <button class="btn" onclick="restartGame()">Play Again</button>
</div>
{% endblock %}

{% block scripts %}
<script>
        // Pass the words from Flask to JavaScript
    const words = {{ words|tojson|safe }};
</script>
<script src="{{ url_for('static', filename='js/game.js') }}"></script>
{% endblock %}