<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Words Up - Start</title>
    <link rel="stylesheet" href="/static/css/game.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Words Up</h1>
            <p>Put your phone to your forehead or your laptop ot tablet in front of you and press start.<br>Team mates, give your best clues to what the word is, without saying the word.<br>
               Correct click or tap on the left. Pass click or tap on the riht.
            </p>
            <div class="start-button">
                <span><a href="{{ url_for('qr_code') }}">Start</a></span>
            </div>
        </div>
    </div>
</body>
</html>