<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Words Up - Game</title>
    <link href="static/css/game.css" rel="stylesheet">
</head>
<body>
    <div id="rotate-notice" style="display:none; text-align:center;">
        <p>Turn me sideways to play!</p>
    </div>
    <!-- Game Page -->
    <div class="container">
        <div class="button right" onclick="nextWord('pass')">Pass</div>
        <div class="word">
            <div id="wordText">Starfish</div>
            <div class="timer" id="timer">1:00</div>
        </div>
        <div class="button left" onclick="nextWord('correct')">Correct</div>
    </div>
    <!-- End Page -->
    <div class="end-page" id="endPage">
        <div class="end-score" id="finalScore">Score: 0</div>
        <ul id="correctWords"></ul> <!-- List for correct words -->
        <ul id="passedWords"></ul> <!-- List for passed words -->
        <button class="btn" onclick="restartGame()">Play Again</button>
    </div>
    <script>
        // Pass the words from Flask to JavaScript
        const words = {{ words|tojson|safe }};
    </script>
    <script src="static/js/game.js"></script>
</body>
</html>